{% extends 'Base/base_index.html' %}

<!-- °================================° -->
<!--    °HTML -> DataTable de alumnos   -->
<!-- °================================° -->

{% load static %}

<!-- TITULO DE LA PAGINA -->
{% block titulo_pestaña %} Lista de alumnos {% endblock %}


<!-- CONTENIDO PRINCIPAL  -->
{% block contenido_body_card %}


<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">

                <div class="card-header pb-0">
                    <h6>{% block titulo_card %} Datos de los alumnos {% endblock %}</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">

                        <table id="tablaData" class="table align-items-center mb-0">
                            <!-- HEAD DE LA TABLA -->
                            <thead>
                                <tr>
                                    <th class="font-weight-bolder">ID</th>
                                    <th class="font-weight-bolder">Rut</th>
                                    <th class="font-weight-bolder">Nombre</th>
                                    <th class="font-weight-bolder">Apellido</th>
                                    <th class="font-weight-bolder">Fecha Nac.</th>
                                    <th class="font-weight-bolder">Cant. cursos</th>
                                    <th class="font-weight-bolder">Creador</th>
                                    <th class="font-weight-bolder">Acciones</th>
                                </tr>
                            </thead>

                            <!-- BODY DE LA TABLA -->
                            <tbody>
                                {% for alumno in alumnoKey %}
                                <tr>
                                    <td>{{alumno.id}}</td>
                                    <td>{{alumno.rut}}</td>
                                    <td>{{alumno.nombre}}</td>
                                    <td>{{alumno.apellido}}</td>
                                    <td>{{alumno.fecha_nacimiento|date:"d/m/Y"}}</td>




                                    <td class="align-middle text-sm">
                                        {% for curso in alumno.cursos_tomado.all %}
                                        <span class="badge badge-sm bg-gradient-primary mb-1">
                                            {{ curso.nombre }}
                                        </span>
                                        {% empty %}
                                        <span class="text-secondary text-xs font-weight-bold">Sin cursos</span>
                                        {% endfor %}
                                    </td>



                                    {% comment %}
                                    {% for curso in alumno.cursos_tomado.all %}
                                    <td>
                                        {{ curso.nombre }}{% if not forloop.last %}, {% endif %}
                                        {% empty %}
                                        <span class="text-secondary text-xs">Sin cursos inscritos</span>
                                        {% endfor %}
                                    </td>
                                    {% endcomment %}


                                    {% comment %}
                                    <td class="text-center">
                                        {{ alumno.cursos_tomado.count }}
                                    </td>
                                    {% endcomment %}

                                    <td>{{alumno.creador_alumno}}</td>

                                    <td class="text-center">
                                        <a href="{% url 'editar_alumno' alumno.id %}" class="mx-2 text-success">
                                            <i class="fa-solid fa-pen fa-lg"></i></a>

                                        {% if user.is_docent %}
                                        {#NO SE MUESTRA LA OPCION DE ELIMINAR#}
                                        {% elif user.is_custom_admin %}
                                        <a href="#" class="mx-2 text-danger" data-bs-toggle="modal"
                                            data-bs-target="#confirmDeleteModal{{alumno.id}}">
                                            <i class="fa-solid fa-trash"></i></a>
                                        {% else %}
                                        {#NO SE MUESTRA NINGUNA OPCION#}
                                        {% endif %}

                                    </td>
                                </tr>

                                <!-- Modal DE CONFIRMACION -->
                                <div class="modal fade" id="confirmDeleteModal{{alumno.id}}" tabindex="-1"
                                    aria-labelledby="modalLabel{{alumno.id}}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5 text-dark" id="modalLabel{{alumno.id}}">
                                                    Confirmar Eliminación</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p class="text-dark">¿Está seguro que desea eliminar al Alumno?</p>
                                                <p class="text-dark">Rut:<strong>{{alumno.rut}}</strong></p>
                                                <p class="text-dark">Nombre: <strong>{{alumno.nombre}}
                                                        {{alumno.apellido}}</strong></p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">CANCELAR</button>
                                                <a type="button" class="btn btn-warning"
                                                    href="{% url 'eliminar_alumno' alumno.id %}">ELIMINAR</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}