{% extends 'Base/base_index.html' %}

<!-- °===============================° -->
<!--    °HTML -> DataTable de cursos   -->
<!-- °===============================° -->

{% load static %}

<!-- TITULO DE LA PAGINA -->
{% block titulo_pestaña %} Lista de cursos {% endblock %}

<!-- TITULO DE LA CARTA -->
{% block titulo_card %} Datos de los cursos {% endblock %}

<!-- CONTENIDO PRINCIPAL  -->
{% block contenido_body_card %}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">

                <!-- TITULO DE CARD -->
                <div class="card-header pb-0">
                    <h6> Lista de cursos existentes</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">

                        <table id="tablaData" class="table align-items-center mb-0">
                            <!-- HEAD DE LA TABLA -->
                            <thead>
                                <tr>
                                    <th class="font-weight-bolder">ID</th>
                                    <th class="font-weight-bolder">Nombre del curso</th>
                                    <th class="font-weight-bolder">Descripción</th>
                                    <th class="font-weight-bolder">Creador</th>
                                    <th class="font-weight-bolder">Acciones</th>
                                </tr>
                            </thead>

                            <!-- BODY DE LA TABLA -->
                            <tbody>
                                {% for curso in CursosKey %}
                                <tr>
                                    <td>{{curso.id}}</td>
                                    <td>{{curso.nombre}}</td>
                                    <td>{{curso.descripcion|default:"N/A"}}</td>
                                    <td>{{curso.creador_curso}}</td>
                                    <td class="text-center">
                                        <a href="{% url 'editar_curso' curso.id %}" class="mx-2 text-success">
                                            <i class="fa-solid fa-pen fa-lg"></i>
                                        </a>

                                        <a href="#" class="mx-2 text-danger" data-bs-toggle="modal"
                                            data-bs-target="#confirmDeleteModal{{curso.id}}">
                                            <i class="fa-solid fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>

                                <!-- Modal DE CONFIRMACION -->
                                <div class="modal fade" id="confirmDeleteModal{{curso.id}}" tabindex="-1"
                                    aria-labelledby="modalLabel{{curso.id}}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5 text-dark" id="modalLabel{{curso.id}}">
                                                    Confirmar Eliminación
                                                </h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p class="text-dark">¿Está seguro que desea eliminar el curso?</p>
                                                <p class="text-dark">ID: <strong>{{curso.id}}</strong></p>
                                                <p class="text-dark">Nombre: <strong>{{curso.nombre}}</strong></p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">CANCELAR</button>
                                                <a type="button" class="btn btn-warning"
                                                    href="{% url 'eliminar_curso' curso.id %}">ELIMINAR</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %}