{% load static %}

<!-- °===================° -->
<!--    °HTML -> NavBar   -->
<!-- °===================° -->

<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur"
    data-scroll="false">
    <div class="container-fluid py-1 px-3">

        <!-- Titulo de bienvenida hola -->
        <nav aria-label="breadcrumb">
            <h5 class="font-weight-bolder text-white mt-2">Hola {{user.username}}, nos alegra tenerte de vuelta 😁!!</h5>
        </nav>

        <div class="collapse navbar-collapse mt-sm-0 mt-1 me-md-0 me-sm-4" id="navbar">

            <div class="ms-auto d-flex align-items-center">
                
                <ul class="navbar-nav justify-content-end">
                    <li class="nav-item d-flex align-items-end">

                        <!-- BOTON DE CERRAR SESIÓN -->
                        <form method="post" action="{% url 'logout' %}" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="nav-link text-white font-weight-bold px-0"
                                style="background: none; border: none;">
                                <i class="fa-solid fa-right-from-bracket me-2"></i>
                                <span class="d-sm-inline d-none">Cerrar sesión</span>
                            </button>
                        </form>

                    </li>
                </ul>

            </div>

        </div>

    </div>
</nav>

