{% load static %}
<!DOCTYPE html>
<html lang="es">

<!-- °=======================================° -->
<!--    °HTML -> Base de registro de usuarios  -->
<!-- °=======================================° -->


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- TITULO DE LA PAGINA -->
    <title>{% block titulo_pestaña %} {# TITULO BASE #} {% endblock %} | EscuelaChucky</title>

    <!-- IMPORTACIONES GENERALES PARA ESTILOS Y ELEMENTOS -->
    {% include 'Importaciones/head_general.html'%}

</head>

<body>
    <!-- NAVBAR -->
    <nav
        class="navbar navbar-expand-lg position-absolute top-0 z-index-3 w-100 shadow-none my-3 navbar-transparent mt-4">
        <div class="container">
            <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 text-white">
                Escuela Chucky Cristian y José
            </a>

            <!-- BARRA DE OPCIONES -->
            <div class="collapse navbar-collapse" id="navigation">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center me-2 active" aria-current="page" href="{% url 'crearCuentaAdmin' %}">
                            <i class="fa fa-chart-pie opacity-6  me-1"></i>
                            Ingreso administrativo
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link me-2" href="{% url 'crearCuentaDocente' %}">
                            <i class="fa fa-user opacity-6  me-1"></i>
                            Ingreso docentes
                        </a>
                    </li>
                </ul>

                <!-- BOTON LATERAL -->
                {% block btn_lateral %} {# BOTON DE LOGIN DINAMICO #} {% endblock %}
            </div>

        </div>
    </nav>

    <main class="main-content  mt-0">

        <!-- BACKGROUND DE FONDO CON IMAGEN -->
        <div class="page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg"
            style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/signup-cover.jpg'); background-position: top;">
            <span class="mask bg-gradient-dark opacity-6"></span>

            <!-- HEADER - Titulo de presentacion -->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5 text-center mx-auto">
                        <h1 class="text-white mb-2 mt-5">{% block titulo_landing %} {#TITULO LANDING #} {% endblock %}</h1>
                        <p class="text-lead text-white">{% block sub_titulo %} {# SUB TITULO LANDING #} {% endblock %}</p>
                        <h4 class="text-lead text-warning fw-bold">{% block sub_titulo2 %} {# SUB TITULO LANDING #} {% endblock %}</>
                    </div>
                </div>
            </div>

        </div>

        <!-- CONTENIDO PRINCIPAL - Dentro de una carta -->
        <div class="container">
            <div class="row mt-lg-n11 mt-md-n11 mt-n11 justify-content-center">
                <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
                    <div class="card z-index-0">

                        <div class="card-header text-center pt-3">
                            <h4 class="">{% block titulo_card %} {#TITULO DE CARTA#} {% endblock %}</h4>
                        </div>

                        <div class="card-body">

                            {% block contenido_card %} {# CONTENIDO PRINCIPAL DE CARTA #} {% endblock %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- IMPORTACIONES DE JS Y SCRIPTS -->
    {% include 'Importaciones/body_general.html' %}

</body>

</html>





<!--
=========================================================
* Argon Dashboard 3 - v2.1.0
=========================================================

* Product Page: https://www.creative-tim.com/product/argon-dashboard
* Copyright 2024 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://www.creative-tim.com/license)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->