{% extends 'Base/base_index.html' %}

<!-- °=============================================° -->
<!--    °HTML -> Index principal despues del login   -->
<!-- °=============================================° -->

{% load static %}

<!-- TITULO DE LA PAGINA -->
{% block titulo_pestaña %} HOME {% endblock %}

<!-- TITULO DE LA CARTA PRINCIPAL -->
{% block titulo_card %}Bienvenido al home principal del panel administratativo {% endblock %}


<!-- CONTENIDO PRINCIPAL body card  -->
{% block contenido_body_card %}

{% include 'Cards/card_home.html' %}

{% endblock %}
