{% extends 'Base/base_index.html' %}

<!-- °=============================================° -->
<!--    °HTML -> Index principal despues del login   -->
<!-- °=============================================° -->

{% load static %}

<!-- TITULO DE LA PAGINA -->
{% block titulo_pestaña %} HOME {% endblock %}

<!-- TITULO DE LA CARTA PRINCIPAL -->
{% block titulo_card %}Bienvenido al home principal del panel administratativo {% endblock %}


<!-- CONTENIDO PRINCIPAL body card  -->
{% block contenido_body_card %}

<div class="row mt-4 gx-5">

    {% for alumno in ultimos_alumnos %}

    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-8">
                        <div class="numbers">
                            <p class="text-sm mb-0 text-uppercase font-weight-bold">ALUMNO REGISTRADO</p>
                            <h5 class="font-weight-bolder">
                                {{ alumno.nombre }}
                            </h5>

                        </div>
                    </div>
                    <div class="col-4 text-end">
                        <div class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle">
                            <i class="ni ni-single-02 text-lg opacity-10" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="col-12">
        <p class="text-muted text-center">No se encontraron alumnos recientes para mostrar en las tarjetas.</p>
    </div>

    {% endfor %}

</div>


<hr>
<div class="row mt-5">
    <div class="col-lg-7 col-md-12 d-flex flex-column mx-lg-0 mx-auto h-100 justify-content-center">
        <div class="card card-plain">
            <div class="card-header pb-0 text-start">
                <h4 class="font-weight-bolder">Bienvenido a la Escuela Chucky C & J</h4>
                <p class="mb-0">Donde se propone una optima gestion académica en un solo lugar.</p>
                <p class="text-sm">
                    En este panel centralizado podrá administrar procesos administrativos, actualizar información
                    académica,
                    coordinar actividades internas y mantener el funcionamiento general de la escuela. Nuestro sistema
                    está pensado para agilizar
                    su trabajo y ofrecerle una visión completa del estado de la institución.
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-5 col-md-12 d-lg-flex d-none h-100 my-auto pe-0 text-center justify-content-center flex-column">
        <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg 
                            d-flex flex-column justify-content-center overflow-hidden"
            style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/signin-ill.jpg'); background-size: cover; min-height: 400px;">

            <span class="mask bg-gradient-primary opacity-6"></span>

            <h3 class="mt-5 text-white font-weight-bolder position-relative">
                "Bienvenido Administrador"
            </h3>
            <p class="text-white position-relative">
                Gestione el futuro.
            </p>
        </div>
    </div>
</div>


{% comment %}{% include 'Cards/card_home.html' %} {% endcomment %}

{% endblock %}